ul.nav li {
    display: inline-block;
    padding-right: 10px;
    background-color: red;
}

span {
    color: green;
    font-size: 30px;
}

ul.nav a {
    color:purple;
}

h2 {
    color: black;
}

p {
    color: black;
}

#about_blue {
    color: blue;
    background-color: #6495ed;
    border: 3px solid black;

}

#about_yellow {
    color: orange;
    background-color: #FFEBCD;
    border: 3px solid black;
}

.important {
    font-size: 16px;
    font-weight: bold;
}

